[phases.setup]
nixPkgs = [
  "python311",
  "gcc",
  "gnumake"
]

[phases.install]
cmds = [
  "python -m pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "uvicorn MultiBroker_Router:app --host 0.0.0.0 --port $PORT"
